.header {
  position: absolute;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1025;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    @include mobile {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    width: 171px;
    height: auto;
    @include tablet {
      width: 125px;
      height: 44px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;

    @include hover {
      color: var(--primary-color);
    }

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      color: var(--secondary-color);
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include mobile {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 35px;

    @include tablet {
      gap: 25px;
    }

    @include mobile {
      display: none;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;

      &:first-child {
        margin-bottom: 6px;
      }

      &:last-child {
        margin-top: 6px;
      }
    }
  }

  &__border {
    @include mobile {
      &:not(:last-child) {
        border-bottom: 1px solid #eaeaea;
      }
    }
  }

  &__close {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-color-lighting);
    border-radius: 50px;

    span {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 15px;
      height: 2px;
      margin: auto;
      background-color: var(--primary-color);

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }

  &__button {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &__logo {
    &--blue {
      display: none!important;
    }
  }

  &__logos {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__languages {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }

    .languages__name {
      color: var(--secondary-color);
    }
  }

  &__social {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__menu {
    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      padding: 30px 16px;
      background-color: #fff;
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      transition: 0.3s ease-in-out;
      z-index: 1025;

      @include active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.inner-page {
  .header {
    position: relative;

    &__link {
      color: var(--secondary-color);

      &--active {
        color: var(--primary-color) ;
      }
    }

    &__logo {
      &--white {
        display: none!important;
      }

      &--blue {
        display: block!important;
      }
    }

    &__burger {
      span {
        background-color: var(--secondary-color);
      }
    }
  }

  .btn__outline {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}