.hero {
  padding-top: 200px;
  min-height: 57vw;
  background: url('../images/content/hero/bg.svg') no-repeat;
  background-position: top center;
  background-size: 100%;
  position: relative;

  @include tablet {
    padding-top: 104px;
  }

  @include mobile {
    padding-top: 274px;
    min-height: 812px;
    background: url('../images/content/hero/bg-mob.jpg') no-repeat;
    background-position: top center;
    background-size: 100% 100%;
  }

  &__block {
    width: 680px;
    @include tablet {
      width: 345px;
    }
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    font-weight: 800;
    font-size: 70px;
    line-height: 68px;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 36px;
      line-height: 44px;
    }

    @include mobile {
      font-size: 34px;
      line-height: 42px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__btn {
    margin-top: 40px;
    min-width: 279px;
    height: 67px;

    @include tablet {
      margin-top: 20px;
      min-width: 169px;
      height: 40px;
    }

    @include mobile {
      width: max-content;
      margin: 20px auto 0 auto;
    }
  }

  &__icon {
    position: absolute;
    animation: bounce-1 3s infinite linear;

    @include mobile {
      display: none;
    }

    &--first {
      right: 12vw;
      top: 7vw;
      width: 6vw;
      height: auto;
      animation-delay: 0.2s;
    }

    &--second {
      top: 20.5vw;
      right: 47.2vw;
      width: 2.4vw;
      height: auto;
      animation-delay: 0.5s;
    }

    &--three {
      top: 25.3vw;
      right: 20vw;
      width: 3.1vw;
      height: auto;
      animation-delay: 0.7s;
    }

    &--four {
      right: 40.5vw;
      top: 28.7vw;
      height: auto;
      width: 1.7vw;
      animation-delay: 0.9s;
    }
  }
}

@keyframes bounce-1 {
  0%   { transform: translateY(10px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(10px); }
}