// Callback Section Start
section.callback(data-aos="fade-up")
  .container
    .callback__section
      form.callback__block
        h2.callback__title
          | Создайте свой первый сайт вместе с нами!
        p.callback__subtitle
          | Lorem ipsum dolor sit amet consectetur. A sollicitudin nisl eget eu et ut nisl. Sagittis lorem libero
        .callback__group.form-input
          input(type="email", name="email", placeholder="Email адрес")
          button(type="submit").btn.btn__primary
            | Заказать звонок
// Callback Section End