section.hero
  img(src="./images/content/hero/dot-1.svg", alt="dot").hero__icon.hero__icon--first
  img(src="./images/content/hero/dot-1.svg", alt="dot").hero__icon.hero__icon--second
  img(src="./images/content/hero/dot-1.svg", alt="dot").hero__icon.hero__icon--three
  img(src="./images/content/hero/dot-1.svg", alt="dot").hero__icon.hero__icon--four
  .container
    .hero__block
      h1.hero__title
        span.primary-text Разработка сайтов
        br
        | с нуля до дохода
      p.hero__subtitle
        | Создадим конверсионный сайт для решения ваших бизнес-задач. Любая сложность: от лендингов до корпоративных порталов и интернет-магазинов.
      button.btn.btn__primary.hero__btn(type="button")
        | Подробнее