-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'Главная'
				},
				{
					url: '/services.html',
					name: 'Услуги'
				},
				{
					url: '/team.html',
					name: 'Команда'
				}
			],
			languages: [
				{
					icon: 'ru',
					name: 'Русский'
				},
				{
					icon: 'uk',
					name: 'English'
				},
				{
					icon: 'finland',
					name: 'Suomea'
				},
				{
					icon: 'swedish',
					name: 'Svensk'
				},
				{
					icon: 'ukraine',
					name: 'Украинский'
				},
			],
			socials: ['fb', 'instagram', 'twitter', 'linkedn']
		},

		home: {
			card: [
				{
					title: 'Аналитика и проектирование сайта',
					subtitle: 'Определяем цели и задачи проекта, изучаем бизнес-процессы. Планируем архитектуру сайта, прототипируем и составляем ТЗ.'
				},
				{
					title: 'Разработка дизайна сайта и адаптация',
					subtitle: 'Разработка макетов дизайна сайта в четырех форм-факторах (desktop, laptop, tablet, phone) с учетом сценариев поведения пользователей.'
				},
				{
					title: 'Верстка, программинг и тестирование сайта',
					subtitle: 'Пишем чистый валидный оптимизированный код, понятный для третьих лиц. Тестируем все элементы и функционал сайта повторяя пользовательские сценарии.'
				},
				{
					title: 'Наполнение и релиз сайта в интернете',
					subtitle: 'Интегрируем товарные категории (1C, R-keeper, IIko, Excel) или наполняем сайт вручную. Подбираем лаконичный домен, размещаем на скоростном хостинге.'
				}
			],
			checkboxes: [
				{
					name: 'Mobile App & Web Design',
					value: 'mob&web&design'
				},
				{
					name: 'SAAS',
					value: 'saas'
				},
				{
					name: 'Website Development',
					value: 'webdev'
				},
				{
					name: 'Design Systems',
					value: 'dessys'
				},
				{
					name: 'CRM, CMS, Web Apps',
					value: 'crm&cms&webapp'
				},
				{
					name: 'Strategy & Design',
					value: 'strategy&design'
				},
				{
					name: 'Branding & Visual Identity',
					value: 'branding'
				},
				{
					name: 'Wireframing & User Testing',
					value: 'wireframing&usertesting'
				}
			]
		},

		team: {
			teams: ['Денис Парвианин', 'Евгений Геннадий', 'Ден Роман']
		},

		services: {
			links: [
				{
					name: 'Создание сайтов',
					value: 'site'
				},
				{
					name: 'SEO-продвижение',
					value: 'seo'
				},
				{
					name:  'Контекстная реклама',
					value: 'reklama'
				},
				{
					name: 'Таргетинговая реклама',
					value: 'target'
				},
				//- {
				//- 	name: 'SMM продвижение',
				//- 	value: 'smm'
				//- },
				//- {
				//- 	name: 'Обслуживание',
				//- 	value: 'service'
				//- },
				//- {
				//- 	name: 'Айдентика',
				//- 	value: 'identity'
				//- },
				//- {
				//- 	name: 'Веб аналитика',
				//- 	value: 'analytics'
				//- }
			],
			tabs: [
				{
					name: 'Сайт каталог',
					value: 'catalog'
				},
				{
					name: 'Корпоративные сайты',
					value: 'corporate'
				},
				{
					name: 'Landing page',
					value: 'landing'
				},
				//- {
				//- 	name: 'Конструктор',
				//- 	value: 'constructor'
				//- },
				//- {
				//- 	name: 'SAAS',
				//- 	value: 'sass'
				//- }
			]
		}
	};
