-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'Главная'
				},
				{
					url: '/services.html',
					name: 'Услуги'
				},
				{
					url: '/team.html',
					name: 'Команда'
				}
			],
			languages: [
				{
					icon: 'ru',
					name: 'Russian'
				},
				{
					icon: 'germany',
					name: 'German'
				},
				{
					icon: 'uk',
					name: 'English'
				},
				{
					icon: 'italy',
					name: 'Italian'
				},
			],
			socials: ['fb', 'instagram', 'twitter', 'linkedn']
		},

		home: {
			card: [
				{
					title: 'Аналитика и проектирование сайта',
					subtitle: 'Определяем цели и задачи проекта, изучаем бизнес-процессы. Планируем архитектуру сайта, прототипируем и составляем ТЗ.'
				},
				{
					title: 'Разработка дизайна сайта и адаптация',
					subtitle: 'Разработка макетов дизайна сайта в четырех форм-факторах (desktop, laptop, tablet, phone) с учетом сценариев поведения пользователей.'
				},
				{
					title: 'Верстка, программинг и тестирование сайта',
					subtitle: 'Пишем чистый валидный оптимизированный код, понятный для третьих лиц. Тестируем все элементы и функционал сайта повторяя пользовательские сценарии.'
				},
				{
					title: 'Наполнение и релиз сайта в интернете',
					subtitle: 'Интегрируем товарные категории (1C, R-keeper, IIko, Excel) или наполняем сайт вручную. Подбираем лаконичный домен, размещаем на скоростном хостинге.'
				}
			],
		}
	};
