-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'Главная'
				},
				{
					url: '/services.html',
					name: 'Услуги'
				},
				{
					url: '/team.html',
					name: 'Команда'
				}
			],
			languages: [
				{
					icon: 'ru',
					name: 'Russian'
				},
				{
					icon: 'germany',
					name: 'German'
				},
				{
					icon: 'uk',
					name: 'English'
				},
				{
					icon: 'italy',
					name: 'Italian'
				},
			],
			socials: ['fb', 'instagram', 'twitter', 'linkedn']
		}
	};
